
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
env/
.venv/

# IDE config folders
.idea/
.vscode/

# Cache and data files
data_files/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Bytecode
*.pyc
